* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
}

.main-nav {
  margin-top: 10px;
  list-style: none;
  padding-right: 0;
  width: 100%;
  text-align: -webkit-right;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  padding: 5px;
  border-radius: 2px;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  display: flex;
}

.centrar {
  display: flex;
  margin: 0 auto;
}
.centrar2 {
  display: block;
  text-align: -webkit-center;
}
