/*
  CSS se indeza a HTML pormedio de la etiqueta link
  en el html

  CSS actua sobre etiquetas o clases
  Anatomia de CSS

    Selector{
      proerty: property value
    }

 proerty y property valuese conoce como declaracion

  CSS es el estilo de HTML que es la estructura
   BEM enseña como darnombres a las clases
   
   Más sobre pseudo elementos o clases
   https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes
   https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-elements

   Para entender CSS es bueno verlo como Modelos de cajas
   https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
   
   Herencia y especifidad
    1.Importancia
    2.Especificidad
    3.Orden en las fuentes

      1. Carga estilo de defecto del navegador, luego los css
      de nuestro .css y finalmente los important
      2. Important     1,0,0,0,0
          Iline Styles 0,1,0,0,0 Estil envevido
          #id          0,0,1,0,0
          .class       0,0,0,1,0
          tag          0,0,0,0,1

          https://www.codecaptain.io/tools/css-specificity-calculator
      3. Orden en que se llaman los estilos siendo los ultimos
      los ultimos en mostrarse al final

      Estilo envebido s usar css en el html directamente
      esto es una mala practica


    Combiaciones 
      https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Combinators
      Juego para practicar combinaciones
      https://flukeout.github.io/

    Medidas Relativas y absoltas
     Absolutas (px no cambian)
     Relativas (porcentaje, em, rem (es decir un root elemt)
      Es bueno usar medidas relativas porque quita 
      la mala practica de generar scroll en los usurios asi
      se disfruta mas la pagina.

      medida em
      Se hace a partir de los tamaños que viene por defecto
      o de su padre directo, por ello hay que tener cuidado
      con su uso. 
      
      medida rem
      es similar pero siempre toma los datos bases del html,
      es decir los que vinen por defecto
      truco para usar rem a pixeles 
      definir el font-size del html n 62,5%
      
        html{
          font-size: 62,5;
        }
       
        de aquien adelnte si queremos algo con 20px 
        llamriamos asi(por ejemplo un parrafo)

          p{
            font-size: 2rem
          }

        Asi susesivamente , es una regla de tres si lo vemos

      Position
      Los elementos son estaticos, mas esots puedes ser
      absolute,relative,foxed ...
          https://css-tricks.com/snippets/css/a-guide-to-flexbox/

          
      display
        OJO :Debo trabajr mucho n lo de las poscione sy hacer mucho ejercicios
          es algo util pero en principop complejo de establecer

          isplay flex es una maravilla aprender bien

          juego https://flexboxfroggy.com/#es

      
      Fuentes 
          Como puedo saber que fuentes trae mi pc o navegador,
          se miran en configuraicones, diseño, fuentes.
          Pero si queremos fuentes especiales vamos a
          https://fonts.google.com/
          Escoger fuente, luego embeber  y las añadimos(importar) en head como link
          , lo ideal es tener una sola fuente.
          

        Reponsive design: 
          Media queries (Siempre se ponen al final como buena practica
          asi poder ver donde son los cambios de cel a table etc) 
            break point
          @media (pantalla mas pequeña)
          @media (pantalla meidana)
          @media (pantalla grande)

        Proyectos hacerlos dese la perpectiva 
        Mobile first/only

        Una buena practica, es llamar los estilos en el head para
        celular, luego para table y finalmente para desktop
        si en diferentes archivos css.
        Como se utiliza ahora en la industria 
        Mostly Fluid: De celular a PC

        Layout shifter : hacer que se muevan los contenedores 
        
        Column drop. Vamos jugando con el porcentaje de los 
        porcentajes del weigth y asi que ocupen los contenedores 
        las lineas completas de acuerdo al tamaño de la pantalla
        
          La idea es mirar hasta que puntos se ve bien el 
          proyecto y apartir de cual generar un break point 
          , una buena practica es no tener mas de 6 break point, 

          Pagna recomentada para ver y estar al dia con temas de 
          html y css: https://www.smashingmagazine.com/

          Grid layouts
        




      


     

*/
